@font-face {
  font-family: iranSans;
  src: url('../fonts/IRANSansWeb.eot');
  src: url('../fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
       url('../fonts/IRANSansWeb.woff2') format('woff2'),
       url('../fonts/IRANSansWeb.woff') format('woff'),
       url('../fonts/IRANSansWeb.ttf') format('truetype');
  font-weight: normal;
  font-display:swap;
}

@font-face {
  font-family: iranSans;
  src: url('../fonts/IRANSansWeb_Bold.eot');
  src: url('../fonts/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/IRANSansWeb_Bold.woff2') format('woff2'),
       url('../fonts/IRANSansWeb_Bold.woff') format('woff'),
       url('../fonts/IRANSansWeb_Bold.ttf') format('truetype');
  font-weight: bold;
  font-display:swap;
}

@font-face {
  font-family: iranSans;
  src: url('../fonts/IRANSansWeb_Light.eot');
  src: url('../fonts/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/IRANSansWeb_Light.woff2') format('woff2'),
       url('../fonts/IRANSansWeb_Light.woff') format('woff'),
       url('../fonts/IRANSansWeb_Light.ttf') format('truetype');
  font-weight: 100;
  font-display:swap;
}

@font-face {
  font-family: iranSans;
  src: url('../fonts/IRANSansWeb_Light.eot');
  src: url('../fonts/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/IRANSansWeb_Light.woff2') format('woff2'),
       url('../fonts/IRANSansWeb_Light.woff') format('woff'),
       url('../fonts/IRANSansWeb_Light.ttf') format('truetype');
  font-weight: 300;
  font-display:swap;
}

@font-face {
  font-family: iranSans;
  src: url('../fonts/IRANSansWeb_Medium.eot');
  src: url('../fonts/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/IRANSansWeb_Medium.woff2') format('woff2'),
       url('../fonts/IRANSansWeb_Medium.woff') format('woff'),
       url('../fonts/IRANSansWeb_Medium.ttf') format('truetype');
  font-weight: 500;
  font-display:swap;
}

@font-face {
  font-family: iranSans;
  src: url('../fonts/IRANSansWeb_Black.eot');
  src: url('../fonts/IRANSansWeb_Black.eot?#iefix') format('embedded-opentype'),
       url('../fonts/IRANSansWeb_Black.woff2') format('woff2'),
       url('../fonts/IRANSansWeb_Black.woff') format('woff'),
       url('../fonts/IRANSansWeb_Black.ttf') format('truetype');
  font-weight: 900;
  font-display:swap;
}

